<div class="w-100">
<h1 class="mt-5 mb-0">Karan <span class="name">Jain</span></h1>
    <div class="text-muted">
      <h6 class="mb-5">Rampura Phul Punjab 151104-<a href="mailto:karan.jain740@gmail.com" class="name">karan.jain740@gmail.com</a></h6>
      <p>Hands-on, successful Software Engineer with decades of
        verifiable success leading teams in delivering appropriate
        technology solutions for desktop and mobile products. 
        Comprehensive knowledge of platform development and web-
        based applications.</p>
    </div>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/karan-jain-15b952179">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/JainKanu/Learning-HTML">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.facebook.com/karanjain0002">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/karan.jain740">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://wa.me/919855816689">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>