<div class="w-100">
< class="mt-5 mb-0">Yatin <span class="name"></span>
    <div class="text-muted">
      <h6 class="mb-5">46, North twelfth street Milton keynes, Uni-<a href="mailto:yatin.yatin@cranfield.ac.uk" class="name">yatin.yatin@cranfield.ac.uk</a></h6>
      <p>A passionate mechanical engineer experienced in dynamics and control of automobiles, with a keen interest in
automation and system optimization. Have a strong background of vehicle dynamics design, had been a leader in all
tasks that I completed till now, taking those as a responsibility towards myself and others. Been in the motorsport and
automotive business for the last four and half years, now in Cranfield to learn skills in control automation; to be able to
work in the cutting edge of system design, automation technology..</p>
    </div>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/yatinsd/">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/yatinsd">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://wa.me/447307984824">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
