<div class="w-100">
<h1 class="mb-5">Education</h1>

<div class="resume-item mb-5 row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0">Punjab School Education Board</h3>
          <div class="text-muted mb-3">
            <h5 class="mt-2">Senior secondary</h5>
            <p>Marks: 79%</p>
          </div>
        </div>
        <div class="resume-date text-md-right col-lg-2">
          <span class="senior"><b>April 2014-March 2015</b></span>
        </div>
      </div>

      <div class="resume-item mb-5 row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0">Punjabi University Patiala</h3>
          <div class="text-muted mb-3">
            <h5 class="mt-2">Bachelor of Computer Application</h5>
            <p>Computer Science - Development Track</p>
          </div>
        </div>
        <div class="resume-date text-md-right col-lg-2">
          <p class="date"><b>July 2015-May 2018</b></p>
        </div>
      </div>
    </div>