<div class="w-200">
<h1 class="mb-5">Education</h1>



      <div class="resume-item mb-5 row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0">Cranfield University, UK </h3>
          <div class="text-muted mb-3">
            <h5 class="mt-2">Master of Science</h5>
            <p>Autonomous vehicle dynamics and control</p>
          </div>
        </div>
        <div class="resume-date text-md-right col-lg-2">
          <p class="date"><b>October 2019-September 2020</b></p>
        </div>
      </div>
    </div>
<div class="resume-item mb-5 row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0">Chitkara University</h3>
          <div class="text-muted mb-3">
            <h5 class="mt-2">Bachelors of engineering- Mechanical</h5>
                  <p>Relevant coursework: </p>
                 <p>  •	Modules: Machine Design, Mechanics of Materials, Dynamics and kinematics of machine, Engineering thermodynamics, IC engines, Engineering mathematics- I & II, Object-oriented programming using C &C++, Product lifecycle management using CATIA & Delmia, Automotive engineering, Optimization research, Mechanical vibrations, Engineering Graphics, Material science, Fluid machinery, Numerical methods and statistical techniques, Engineering materials and metallurgy, Mechatronics</p>
                  <p> •	Major Project: </p>
 <p>               1)	Developed a Formula student UK Vehicle</p>
 <p>               2)	Designed customized air intake to comply with competition requirements using a PE performance ECU along with testing and implementing the cooling requirements for the engine.</p>
 <p>               3)	Achieving 25% weight reduction along with a 38% increase in the rigidity of the car as a whole in a roll with 14% increase in pitch stiffness, thus improving vehicle dynamics of the car by substantial amounts. </p>

               
          </div>
        </div>
        <div class="resume-date text-md-right col-lg-2">
          <span class="senior"><b>April 2014-March 2015</b></span>
        </div>
      </div>
