<div class="w-100">
<h1 class="mb-5">Experience</h1>
    <div class="resume-item mb-5 row">
      <div class="resume-content col-lg-10">
        <h3 class="mb-0">Web Design Internship</h3>
        <div class="text-muted mb-3">
          <h5 class="mt-2">Sebiz Infotech Pvt. Ltd.</h5>
          <p>One Year,Web training in mobile designing.How screen design can be created in that,How application
            works.It was really good experience with sebiz.I really happy with training and enjoying few short
            period of learning curve.</p>
        </div>
      </div>
      <div class="resume-date text-md-right col-lg-2">
        <span class="senior"><b>March 2015-May 2016</b></span>
      </div>
    </div>

    <div class="resume-item mb-5 row">
      <div class="resume-content col-lg-10">
        <h3 class="mb-0">Junior Web Developer</h3>
        <div class="text-muted mb-3">
          <h5 class="mt-2">Freelancer</h5>
          <p>I am passionate about web bas application.As of now i am working as a freelancer and learning niche
            skills as well,I really like to learn new things.</p>
        </div>
      </div>
      <div class="resume-date text-md-right col-lg-2">
        <span class="date"><b>May 2018-Present</b></span>
      </div>
    </div>
  </div>