<div class="w-100">
<h1 class="mb-5 mt-5">Skills</h1>

      <div class="resume-item mb-5">
        <div class="resume-content">
          <div class="text-muted mb-3">
            <h5>PROGRAMMING LANGUAGES & TOOLS</h5>
            <div class="languages">
              <i class="html fab fa-html5"></i>

              <i class="css fab fa-css3-alt"></i>

              <i class="js fab fa-js-square"></i>
            </div>
            <h6 class="mt-4">WORKFLOW</h6>
            <ul class="fa-ul mt-4">
              <li>
                <i class="fa-li fa fa-check"></i>
                Mobile-First, Responsive Design</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Cross Browser Testing &amp; Debugging</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Cross Functional Teams</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Agile Development &amp; Scrum</li>
            </ul>
          </div>
        </div>
      </div>
    </div>